<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrentView</title>
    <link rel="stylesheet" href="./aboutus.css">

</head>
<body>

<nav>
    <div class="nav">
        <div class="navchild" ><a class="currentview" href="/">CurrentView</a></div>
        <div class="navchild">
            <div class="navcontainer">
                <div class="textandimg">
                    <p class="textsearch">Search by topic</p>
                    <img class="imgnav" src="./uploads/1024px-Search_Icon.svg.png" alt="Icon">
                </div>
            </div>
        </div>
        <div class="navchild">
            <ul>
                <li class="navtext">Why current view?</li>
                <li><a href="./login"><button class="login">LOGIN</button></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="elements">
    <h1>About Us</h1>
    <p>Over the past decade, online news and ad-driven algorithms
        have made it profitable for news outlets to embrace a
        position on the bias spectrum to target specific consumers.
        Bias in the media affects everything from what events receive coverage,
        to how a news outlet frames those events in their reporting.
        As media outlets narrow their perspective and range of coverage,
        it’s become impossible to consult a single news story for a well-rounded
        view on important issues.
        <span>CurrentView</span> was created to offer clarity in an increasingly chaotic media landscape.
        Our vision is positive coexistence where cooperative, civil debate is the norm, media is accountable,
        and critical thought is the baseline of our information consumption.
        We’re on a mission to well inform the world by empowering readers to think freely about the issues of our times.
    </p>
</div>
    <div class="elements"><img src="./uploads/istockphoto-458483253-612x612.jpg" alt="imagenews"></div>

</div>

<div class="footer">
    <div class="footitems">Privacy Policy</div>
    <div class="footitems">Terms of service</div>
    <div class="footitems" id="lastitem">Personal Information</div>
    <div class="footitems">Current View</div>
</div>

</body>
